/* Start Varables */
:root {
  --main-color: hsl(257, 40%, 49%);
  --hover-color: hsl(300, 69%, 71%);
  --main-duration: 0.5s;
  --main-padding: 60px;
}
/* End Varables */
/* ====================================================================================== */
/* Strat Globel Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* The Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* The Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* The Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Globel Rules */
/* ====================================================================================== */
/* Start The page Background */
body {
  background: var(--main-color) url(../images/bg-desktop.svg);
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}
@media (max-width: 767px) {
  body {
    background: var(--main-color) url(../images/bg-mobile.svg) no-repeat;
    background-size: cover;
  }
}
/* End The page Background */
/* ====================================================================================== */
/* Start The Header */
header {
  padding-top: var(--main-padding);
  padding-bottom: calc(var(--main-padding) - 10px);
}
/* Start The Logo */
header .container .logo {
  height: 50px;
  display: inline-block;
}
header .container .logo img {
  max-height: 100%;
}
/* End The Logo */
/* End The Header */
/* ====================================================================================== */
/* Start The Content Section */
.content {
  padding-top: calc(var(--main-padding) - 10px);
}
@media (max-width: 991px) {
  .content {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
  }
}
.content .container {
  display: flex;
}
@media (max-width: 991px) {
  .content .container {
    flex-direction: column;
    align-items: center;
  }
}
.content .container .image-box {
  text-align: center;
}
@media (max-width: 767px) {
  .content .container .image-box {
    margin-bottom: 35px;
  }
}
.content .container .image-box img {
  width: 50vw;
  max-width: 700px;
}
@media (max-width: 991px) {
  .content .container .image-box img {
    width: 90%;
  }
}
.content .container .content-box {
  margin-top: 25px;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .content .container .content-box {
    text-align: center;
    margin-left: 0;
    max-width: 89%;
  }
}
.content .container .content-box h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .content .container .content-box h1 {
    font-size: 1.6rem;
  }
}
.content .container .content-box p {
  color: hsl(0, 0%, 100%);
  margin: 10px 0;
}
.content .container .content-box a {
  color: var(--main-color);
  background: hsl(0, 0%, 100%);
  border-radius: 30px;
  box-shadow: 0px 2px 10px 0px hsla(0, 0%, 0%, 0.5);
  transition: var(--main-duration);
  margin: 10px 0;
  padding: 15px 50px;
  display: inline-block;
}
@media (max-width: 991px) {
  .content .container .content-box a {
    font-size: 0.8rem;
    padding: 10px 75px;
  }
}
.content .container .content-box a:hover {
  color: hsl(0, 0%, 100%);
  background: var(--hover-color);
}
/* End The Content Section */
/* ====================================================================================== */
/* Start The Social Section */
.social {
  padding-top: calc(var(--main-padding) / 4);
  padding-bottom: calc(var(--main-padding) / 2);
}
@media (max-width: 767px) {
  .social {
    padding-top: 0;
    padding-bottom: calc(var(--main-padding) / 4);
  }
}
.social .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 991px) {
  .social .container {
    justify-content: center;
  }
}
.social .container ul {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .social .container ul {
    width: 110px;
  }
}
.social .container ul li {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--main-duration);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .social .container ul li {
    width: 30px;
    height: 30px;
  }
}
.social .container ul li:not(:first-child) {
  margin-left: 10px;
}
.social .container ul li:hover {
  border-color: var(--hover-color);
}
.social .container ul li i {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
}
.social .container ul li:hover i {
  color: var(--hover-color);
  transition: var(--main-duration);
}
@media (max-width: 767px) {
  .social .container ul li i {
    font-size: 14px;
  }
}
/* End The Social Section */
