/* Start Varables */
:root {
  --main-color: hsl(257, 40%, 49%);
  --hover-color: hsl(300, 69%, 71%);
  --main-duration: 0.5s;
  --main-padding: 60px;
}
/* End Varables */
/* ====================================================================================== */
/* Strat Globel Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* End Globel Rules */
/* ====================================================================================== */
/* Start The page Background */
body {
  background: var(--main-color) url(../images/bg-desktop.svg) no-repeat;
  background-size: contain;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}
@media (max-width: 767px) {
  body {
    background-image: url(../images/bg-mobile.svg);
  }
}
/* End The page Background */
/* ====================================================================================== */
/* Start The Header */
header {
  padding: 55px 70px;
}
@media (max-width: 767px) {
  header {
    padding: 65px 70px;
  }
}
/* Start The Logo */
header .logo {
  height: 53px;
  display: inline-block;
}
@media (max-width: 767px) {
  header .logo {
    height: 63px;
  }
}
header .logo img {
  max-height: 100%;
}
/* End The Logo */
/* End The Header */
/* ====================================================================================== */
/* Start The Content Section */
main {
  padding: 25px 72px 15px;
  display: flex;
}
@media (max-width: 991px) {
  main {
    text-align: center;
    padding: 50px 72px;
    flex-direction: column;
  }
}
main .image-box img {
  width: 50vw;
  max-width: 710px;
}
@media (max-width: 991px) {
  main .image-box img {
    width: 100%;
  }
}
main .content-box {
  margin-top: 45px;
  margin-left: 52px;
}
@media (max-width: 991px) {
  main .content-box {
    margin-top: 110px;
    margin-left: 0;
  }
}
main .content-box h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Poppins", sans-serif;
  font-size: 2.78vw;
  line-height: 1.5;
}
@media (max-width: 991px) {
  main .content-box h1 {
    font-size: 6.4vw;
  }
}
main .content-box p {
  color: hsl(0, 0%, 100%);
  font-size: 1.25vw;
  line-height: 1.5;
  width: 515px;
  margin: 19px 0;
}
@media (max-width: 991px) {
  main .content-box p {
    font-size: 4.3vw;
    width: 100%;
    margin: 30px 0 40px;
  }
}
main .content-box button {
  color: var(--main-color);
  background: hsl(0, 0%, 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 2px 2px 20px -2px hsla(0, 0%, 0%, 0.3);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  transition: var(--main-duration);
  width: 200px;
  height: 55px;
  margin-top: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  main .content-box button {
    font-size: 23px;
    width: 400px;
    height: 80px;
  }
}
main .content-box button:hover {
  color: hsl(0, 0%, 100%);
  background: var(--hover-color);
}
/* End The Content Section */
/* ====================================================================================== */
/* Start The Social Section */
footer {
  padding: 0 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 991px) {
  footer {
    height: 135px;
    justify-content: center;
    align-items: flex-end;
  }
}
footer ul {
  width: 153px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  footer ul {
    width: 210px;
  }
}
footer ul li {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--main-duration);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  footer ul li {
    border-width: 2px;
    width: 55px;
    height: 55px;
  }
}
footer ul li:hover {
  border-color: var(--hover-color);
}
footer ul li i {
  color: hsl(0, 0%, 100%);
  font-size: 17px;
}
footer ul li:last-child i {
  font-size: 20px;
}
footer ul li:hover i {
  color: var(--hover-color);
  transition: var(--main-duration);
}
@media (max-width: 767px) {
  footer ul li i {
    font-size: 25px;
  }
  footer ul li:last-child i {
    font-size: 30px;
  }
}
/* End The Social Section */
